<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/assets/image/6.jpg" alt="nature image" width="700" onerror="this.src='assets/image/6.jpg'">
    
    <img src="https://static.vecteezy.com/system/resources/thumbnails/049/855/347/small/nature-background-high-resolution-wallpaper-for-a-serene-and-stunning-view-photo.jpg" alt="">

    <img src="https://img.magnific.com/premium-photo/morning-serenity-dewkissed-moss-sprouts-soft-natural-light_1067911-7823.jpg?semt=ais_hybrid&w=740&q=80" alt="">

    <video width="400" controls muted  autoplay loop poster='/assets/image/6.jpg'>
        <source src="/assets/video/video1.mov" type="video/mp4">
    </video>

    <audio controls muted  autoplay loop>
        <source src="/assets/video/video1.mov" type="audio/mp3">
    </audio>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/LkSwZilRyPI?si=ZG20oxy-cKzHP8X8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



    <i class="fa-solid fa-users"></i>




    
</body>
</html>