<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <i class="fa-solid fa-users"></i>
    <i class="fa-solid fa-user"></i>

    <i class="fa-brands fa-html5"></i>
    <i class="fa-brands fa-github"></i>
    <img src="/assets/image/html.png" alt="" width="40">


    <iframe src="https://www.codescaler.com/" width="500" height="800" ></iframe>

    <img src="/assets/image/login.gif" alt="">





</body>
</html>