<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form >
        
        <table bgcolor="#6b5acd" width="60%" cellpadding="10">
            <tr>
                <td><label for="Fname">FirstName</label></td>
                <td><input type="text" name="FirstName" id="Fname"> <span>(Max char a-z  and A-Z)</span></td>
            </tr>
            <tr>
                <td><label for="Lname">Last Name</label></td>
                <td><input type="text" name="FirstName" id="Fname"> <span>(Max char a-z  and A-Z)</span></td>
            </tr>
            <tr>
                <td><label for="Fname">Gender</label></td>
                <td><input type="radio">Male <input type="radio" name="" id="">Female <span>(Max char a-z  and A-Z)</span></td>
            </tr>
        </table>
    </form>
    </center>
    
</body>
</html>